venv/
env/
.env
.venv
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.sqlite3
db.sqlite3
media/
flags/
*.log
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
htmlcov/
.coverage
dist/
build/
eggs/
.idea/
.vscode/
Thumbs.db
*.DS_Store
